<h5 class="designer-available-sequence-name">
  <i class="glyphicon glyphicon-info-sign incompatible-sequences" title="Sticky ends are not complementary with ends in assembled sequence."></i>
  <i class="glyphicon glyphicon-warning-sign lacks-sticky-end-sequences" title="One or both ends lack sticky ends."></i>
  {{sequence.name}}

  {{#if descriptiveAnnotationContent}}
    <br>
    <small>{{descriptiveAnnotationContent}}</small>
  {{/if}}
</h5>

{{#unless sequence.hidden}}
  <div class="designer-available-sequence-entireseq btn btn-sm btn-default {{#unless sequence.usable}}disabled{{/unless}}">
    Entire Sequence ({{formatThousands sequence.length}}bp) {{#unless sequence.usable}}&#x20E0;{{/unless}}
  </div>
{{/unless}}

{{#if showAnnotations}}
{{#if features}}
  <div class="designer-available-sequence-features">
    {{#each features}}
      <div class="designer-available-sequence-feature designer-available-sequence-feature-{{_type}}" data-feature_id="{{id}}" title="{{name}}{{#if reverseComplement}} &larr;{{else}} &rarr;{{/if}}">
        {{name}}
        {{#if reverseComplement}}
          &larr;
        {{else}}
          &rarr;
        {{/if}}
      </div>
    {{/each}}
  </div>
{{/if}}
{{/if}}