<div class="designer-draggable btn btn-sm btn-default designer-part-{{partType}} designer-draggable-start-{{stickyEnds.start}} designer-draggable-end-{{stickyEnds.end}}" data-sequence_id="{{id}}" data-description="{{description}}">
  <div class="designer-draggable-trash">
    <i class="glyphicon glyphicon-trash"></i>
  </div>
  <div class="designer-draggable-wrapper">
    <div>
      {{name}}
    </div>
  </div>
</div>
