<div class="linear-map-visible-range"></div>
<div class="linear-map-position-marks">
  {{#each positionMarks}}
    <div class="linear-map-position-mark" data-base="{{base}}" style="top: {{top}}px;">
      {{label}}
    </div>
  {{/each}}
</div>
<div class="linear-map-features">
  {{#each features}}
    <div href="#" class="linear-map-feature linear-map-feature-type-{{type}}" data-feature-id="{{id}}">
      {{name}}
    </div>
  {{/each}} 
</div>