<h3>Create RDP part</h3>
<br>
<form class="form-horizontal new-pcr-product-form">

  <div class="form-group">
    <label class="col-sm-6 control-label" for="newProduct_name"><small>RDP Part name</small></label>
    <div class="col-sm-6 {{#if state.invalid.name}}has-error{{/if}}">
      <input type="text" class="form-control input-sm form-control" id="newProduct_name" maxlength="255" required="required" value="{{state.name}}">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-6 control-label" for="newProduct_shortName"><small>RDP Part short name</small></label>
    <div class="col-sm-6 {{#if state.invalid.shortName}}has-error{{/if}}">
      <input type="text" class="form-control input-sm form-control" id="newProduct_shortName" maxlength="255" value="{{state.shortName}}">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-6 control-label"><small>Source sequence</small></label>
    <div class="col-sm-6">
      <p class="form-control-static"><small>{{sourceSequenceName}}</small></p>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-6 control-label" for="newProduct_from"><small>Base pair range for target sequence</small></label>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-6 {{#if state.invalid.from}}has-error{{/if}}">
          <input type="number" class="form-control input-sm form-control" id="newProduct_from" placeholder="{{plus state.from 1}}" value="{{plus state.from 1}}" required="required">
        </div>
        <div class="col-sm-6 {{#if state.invalid.to}}has-error{{/if}}">
          <input type="number" class="form-control input-sm form-control" id="newProduct_to" placeholder="{{plus state.to 1}}" value="{{plus state.to 1}}" required="required">
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-6 control-label" for="newProduct_partType"><small>RDP Part type</small></label>
    <div class="col-sm-6">
      {{{select availablePartTypes id="newProduct_partType" class="col-sm-6 form-control input-sm"}}}
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-6 control-label" for="newProduct_stickyEnds"><small>RDP orientation</small></label>
    <div class="col-sm-6">
      {{{select availableStickyEnds id="newProduct_stickyEnds" class="col-sm-6 form-control input-sm"}}}
    </div>
  </div>

  {{!-- <div class="form-group">
    <label class="col-sm-6 control-label" for="newProduct_targetMeltingTemperature"><small>Target melting temperature (&deg;C)</small></label>
    <div class="col-sm-6 {{#if state.invalid.targetMeltingTemperature}}has-error{{/if}}">
      <input type="number" class="form-control input-sm form-control" id="newProduct_targetMeltingTemperature" placeholder="{{state.targetMeltingTemperature}}" value="{{state.targetMeltingTemperature}}" required="required">
    </div>
  </div> --}}
  
  <br>
  <strong>Optimized RDP primer parameters</strong>
  <div class="separator"></div>
  <div class="form-group">
    <label class="col-sm-5 col-sm-offset-1 control-label"><small>Melting temperature</small></label>
    <div class="col-sm-6">
      <p class="form-control-static"><small>68.5&deg;C</small></p>
    </div>
    <label class="col-sm-5 col-sm-offset-1 control-label"><small>Oligo concentration</small></label>
    <div class="col-sm-6">
      <p class="form-control-static"><small>0.25&mu;m</small></p>
    </div>
    <label class="col-sm-5 col-sm-offset-1 control-label"><small>Na<sup>+</sup> concentration</small></label>
    <div class="col-sm-6">
      <p class="form-control-static"><small>50mM</small></p>
    </div>
    <label class="col-sm-5 col-sm-offset-1 control-label"><small>Mg<sup>++</sup> concentration</small></label>
    <div class="col-sm-6">
      <p class="form-control-static"><small>2mM</small></p>
    </div>
    <label class="col-sm-5 col-sm-offset-1 control-label"><small>dNTPs concentration</small></label>
    <div class="col-sm-6">
      <p class="form-control-static"><small>0.2mM</small></p>
    </div>
  </div>

  <br>

  <button class="btn btn-primary">Create new RDP part</button>
  <button class="cancel-new-pcr-product-form btn btn-default">Cancel</button>

</form>
