<h2>{{shortName}} ({{partType}})</h2>
<br />

<table class="table table-no-border">
  <tbody>
    <tr>
      <td>
        <strong>
          Source sequence
        </strong>
      </td>
      <td>
        {{name}}
      </td>
    </tr>

    <tr>
      <td>
        <strong>
          Part description
        </strong>
      </td>
      <td>
        {{desc}}
      </td>
    </tr>
  </tbody>

</table>

<br>
<h3>
{{#if isRdpPcrSequence}}
  RDP PCR primers
{{else}}
  RDP oligo-based part
{{/if}}
</h3>
<br>


{{#if isRdpPcrSequence}}
{{{primer meta.associations.forwardPrimer}}}
{{{primer meta.associations.reversePrimer}}}

<table class="table table-condensed">
  <thead>
    <th></th>
    <th class="text-right">Size</th>
    <th class="text-right">GC</th>
    <th class="text-right">TTm</th>
    <th class="text-right">Tm</th>
  </thead>
  <tbody>
    <tr>
      <td>PCR blunt-ended product</td>
      <td class="text-right">{{formatThousands productLength}}bp</td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td>Forward annealing region</td>
      <td class="text-right">{{formatThousands meta.associations.forwardPrimer.annealingRegion.range.size}}bp</td>
      <td class="text-right">{{round meta.associations.forwardPrimer.annealingRegion.gcContent 1 true}}%</td>
      <td class="text-right">{{round meta.associations.forwardPrimer.annealingRegion.theoreticalMeltingTemperature 1}}&deg;C</td>
      <td class="text-right">{{round meta.associations.forwardPrimer.annealingRegion.practicalMeltingTemperature 1}}&deg;C</td>
    </tr>
    <tr>
      <td>Reverse annealing region</td>
      <td class="text-right">{{formatThousands meta.associations.reversePrimer.annealingRegion.range.size}}bp</td>
      <td class="text-right">{{round meta.associations.reversePrimer.annealingRegion.gcContent 1 true}}%</td>
      <td class="text-right">{{round meta.associations.reversePrimer.annealingRegion.theoreticalMeltingTemperature 1}}&deg;C</td>
      <td class="text-right">{{round meta.associations.reversePrimer.annealingRegion.practicalMeltingTemperature 1}}&deg;C</td>
    </tr>
  </tbody>
</table>
{{/if}}


{{#if isRdpOligoSequence}}
<h5>Sense strand</h5>
{{{oligoSequence senseStrand}}}
<h5>Antisense strand</h5>
{{{oligoSequence antisenseStrand}}}
<br>
{{/if}}

<br />



<h5>Optimized parameters</h5>
<table class="table table-no-border table-condensed">
  <tbody>
    <tr>
      <td>
        <small>Theoretical melting temperature (T tm)</small>
      </td>

      <td>
        <small>68.5&deg;C</small>
      </td>
    </tr>

    <tr>
      <td>
        <small>Oligo concentration</small>
      </td>

      <td>
        <small>0.25&mu;m</small>
      </td>
    </tr>

    <tr>
      <td>
        <small>Na<sup>+</sup> concentration</small>
      </td>

      <td>
        <small>50mM</small>
      </td>
    </tr>

    <tr>
      <td>
        <small>Mg<sup>++</sup> concentration</small>
      </td>

      <td>
        <small>2mM</small>
      </td>
    </tr>

    <tr>
      <td>
        <small>dNTPs concentration</small>
      </td>

      <td>
        <small>0.2mM</small>
      </td>
    </tr>



  </tbody>

</table>

<h4>Sequence edit history</h4>

<p><small>The following edit(s) were made to the source sequence to convert it to an RDP-compliant CDS part</small></p>

<div class="pcr-edits-outlet"></div>
