<div id="blast-intro-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h3>
          {{#if blastRequest.resultsLoaded}}
            <div class="btn-group pull-right">
              <button class="btn btn-default btn-xs blast-clear-search">Clear results</button>
              <button class="btn btn-default btn-xs blast-run-new">Run new search</button>
            </div>
          {{/if}}
          Nucleotide BLAST search
        </h3>
        {{#if NCBIError}}
          <div class="alert alert-danger" style="margin-bottom: 10px;">
            {{NCBIError}}
          </div>
        {{/if}}
        {{#unless blastRequest.RIDLoaded}}
          <br>
          <div class="form-group">
            <label class="colcontrol-label" for="blast-database-select">Database</label>
            {{{select databases class="form-control" id="blast-database-select"}}}
          </div>
          <button class="btn btn-primary" id="blast-intro-run">
            <span class="btn-label">Start</span>
            <span class="loader" style="display: none;"><i class="glyphicon glyphicon-refresh"></i></span>
          </button>
          <br><br>
        {{else}}
          {{#unless blastRequest.resultsLoaded}}
            <h4>
              Loading results
              <span class="loader">
                <i class="glyphicon glyphicon-refresh"></i>
              </span>
            </h4>
            <p class="text-muted">
              We are waiting for NCBI to process the BLAST search. {{!-- This request's ID is {{blastRequest.RID}}.  --}}
            </p>
            <p class="text-muted">
              <a href="http://blast.ncbi.nlm.nih.gov/Blast.cgi?RID={{blastRequest.RID}}&CMD=Get" target="_blank">
                See request on NCBI's website
                <i class="glyphicon glyphicon-open"></i>
              </a>
            </p>
          {{else}}
            {{#unless blastRequest.results}}
              <br><br>
              <p class="text-danger">No results</p>
            {{/unless}}
          {{/unless}}
        {{/unless}}
        {{#unless blastRequest.resultsLoaded}}
          <p class="text-muted">
            Loading the BLAST search results from NCBI can take up to a few minutes depending on the length of the sequence.
          </p>
        {{/unless}}
      </div>
    </div>
  </div>
  {{#if blastRequest.results}}
    <br>
    <table class="table" style="vertical-align: middle;">
      <thead>
        <tr> 
          <th></th>
          <th width="40%"></th>
          <th>Align length</th>
          <th>E-value</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each blastRequest.results}}
          <tr>
            <td><small>{{formatThousands @index 1}}</small></td>
            <td colspan="4">
              {{!-- <div class="pull-right">
                <a href="#" class="blast-open-sequence" data-result-id="{{id}}">
                  <small>
                    Open sequence
                    <i class="glyphicon glyphicon-open"></i>
                  </small>
                </a>
              </div> --}}
              <small>{{name}}</small></td>
            </td>
          </tr>
          {{#each hsps}}
            <tr class="noborder clickable show-align" data-result-id="{{../id}}" data-hsp-id="{{id}}">
              <td></td>
              <td>
                <div class="progress blast-align-match-bar">
                  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="margin-left: {{alignFromPct}}%; width: {{alignLenPct}}%;"></div>
                </div>
              </td>
              <td><small><code>{{shortFormNumber alignLen}}bp</code></small></td>
              <td><small><code>{{evalue}}</code></small></td>
              <td class="text-right">
                <small class="open-label text-muted">
                  Show
                  <i class="glyphicon glyphicon-arrow-right"></i>
                </small>
                {{!-- <button class="show-align btn btn-default btn-xs" data-result-id="{{../id}}" data-hsp-id="{{id}}">
                  <span class="open-label">
                    Show
                    <i class="glyphicon glyphicon-arrow-right"></i>
                  </span>
                </button> --}}
              </td>
            </td>
          {{/each}}
        {{/each}}
      </tbody>
    </table>
  {{/if}}
</div>
<div id="blast-align-container"></div>