<div class="container-fluid">
<div class="row">
<div class="col-md-12">
<h3>Sequencing primers</h3>
{{#if products}}
<br>

{{#if noForwardUniversalPrimer}}
  <div class="panel panel-danger sequencing-primers-product-missing">
    <table class="table table-condensed table-no-border">
      <thead>
        <th><strong>U-fwd</strong></th>
      </thead>
      <tbody>
        <tr>
          <td><small><strong>Missing forward universal primer</strong></small></td>
        </tr>
        <tr><td></td></tr>
      </tbody>
    </table>
  </div>
{{/if}}

{{#if noReverseUniversalPrimer}}
  <div class="panel panel-danger sequencing-primers-product-missing">
    <table class="table table-condensed table-no-border">
      <thead>
        <th><strong>U-rvs</strong></th>
      </thead>
      <tbody>
        <tr>
          <td><small><strong>Missing reverse universal primer</strong></small></td>
        </tr>
        <tr><td></td></tr>
      </tbody>
    </table>
  </div>
{{/if}}

{{#each products}}
  <div class="panel panel-default sequencing-primers-product" data-product_id="{{id}}">
    {{!-- <div class="panel-heading">
      <div class="pull-right">
        <div class="btn-group">
          <button class="btn btn-default btn-xs delete-pcr-product">
            <i class="glyphicon glyphicon-trash"></i>
          </button>
          <button class="btn btn-default btn-xs open-pcr-product has-tooltip" title="Open PCR product in new tab">
            Create
            <i class="glyphicon glyphicon-share"></i>
          </button>
          <button class="btn btn-default btn-xs show-pcr-product">Show &rarr;</button>
        </div>
      </div>
      <h3 class="panel-title">{{name}}</h3>
    </div> --}}
    <table class="table table-condensed table-no-border">
      <thead>
        <th>{{primer.name}}</th>
        <th><small>Size</small></th>
        <th><small>GC</small></th>
        <th><small>Tm</small></th>
        <th class="text-right"><small><spann class="show-primer">
          Show
          <i class="glyphicon glyphicon-arrow-right"></i>
        </span></small></th>
      </thead>
      <tbody>
        {{!-- <tr>
          <td><small><strong>Product</strong></small></td>
          <td><small>{{formatThousands sequenceLength}}bp</small></td>
          <td></td>
          <td></td>
          <td></td>
        </tr> --}}
        <tr>
          <td></td>
          <td><small>{{sequenceLength primer}}bp</small></td>
          <td><small>{{round primer.gcContent 1 true}}%</small></td>
          <td><small>{{round primer.meltingTemperature 1}}&deg;C</small></td>
          <td></td>
        </tr>
        <tr>  
          <td colspan="5" class="sequence">
            <div class="separator"></div>
            {{{displaySelectableSequence primer}}}
          </td>
        <tr>
        
      </tbody>
    </table>
  </div>
{{/each}}
{{/if}}
</div>
</div>
</div>