{{#if display}}
  <div class="btn-group context-menu {{#unless dropup}}no-{{/unless}}dropup" style="position: absolute; top: {{posY}}px; left: {{posX}}px; z-index: 1000;" tabindex="-1">
    <div class="btn-group">
    {{#each menuIcons}}
      <a href="#" class="btn btn-default btn-sm menu-item" data-id="{{id}}">
        <i class="glyphicon glyphicon-{{icon}}"></i>
        {{label}}
      </a>
    {{/each}}
    {{#if menuItems.length}}
      <a href="#" data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle {{context}}-dropdown">
        <i class="glyphicon glyphicon-chevron-down"></i>
      </a>
      <ul class="dropdown-menu {{#unless pullRight}}no-{{/unless}}pull-right" role="menu">
        {{#each menuItems}}
          <li>
            <a href="#" class="menu-item" data-id="{{id}}">
              {{{label}}}
            </a>
          </li>
        {{/each}}
      </ul>
    {{/if}}
    </div>

  </div>
{{/if}}
