{{#if display}}
  <div class='feature-info' style="position: absolute; top: {{posY}}px; left: {{posX}}px; width: 180px; height: 100px;" id={{featureInfo.Id}}>
       <p class='feature-details'>Name: {{featureInfo.Name}}</br>
        From: {{featureInfo.from}}</br>
        To : {{featureInfo.to}}</br>
        Type: {{featureInfo.Type}}</br>
        Description: {{featureInfo.Description}}</p>
  </div>
{{/if}}