<div class="navbar navbar-default navbar-fixed-top" role="navigation" unselectable="on">
  <div class="container-fluid">
    <button id="menu-button" type="button" class="btn btn-primary navbar-toggle{{#if atHome}} active{{/if}}">
      <i class="glyphicon glyphicon-plus"></i>
    </button>
    {{#if hiddenTabs}}
      <div id="hidden-tabs-dropdown" class="dropdown hidden-tabs-dropdown pull-right margin-right">
        <a href="#" data-toggle="dropdown">
          <i class="glyphicon glyphicon-chevron-down"></i>
        </a>
        <ul class="dropdown-menu" role="menu" style="max-width: {{maxDropdownWidth}}px">
          {{#each hiddenTabs}}
            <li>
              <a tabindex="-1" class='sequence-tab' href='sequence/{{id}}' data-sequence_id='{{id}}'>
                {{name}}
              </a>
            </li>
          {{/each}}
        </ul>
      </div>
    {{/if}}
    <ul class="nav nav-tabs" id="sequence-tabs">
      {{#each visibleTabs}}
        <li {{#if isCurrent}}class='active'{{/if}} style="max-width: {{../calculatedMaxTabWidth}}px">
          <a href='sequence/{{id}}' class='sequence-tab' data-sequence_id='{{id}}' title="{{name}}" tabindex="-1">
            <small class="glyphicon glyphicon-remove close-sequence"></small>
            <span class="name">{{name}}</span> <br>
            <small class="details">
              {{#if readOnly}}
                <span class="text-info"><i class="glyphicon glyphicon-lock"></i></span>
                &middot;
              {{/if}}
              <span class="text-muted">{{shortFormNumber length}}bp</span>
              &middot;
              <span class="text-success">DNA</span>
            </small>
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
</div>