<div class="navbar navbar-default navbar-fixed-top" role="navigation" unselectable="on">
  <div class="container-fluid">
    <button id="menu-button" type="button" class="btn btn-primary navbar-toggle{{#if atHome}} active{{/if}}">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <ul class="nav nav-tabs" id="sequence-tabs">
      {{#each visibleTabs}}
        <li {{#if isCurrent}}class='active'{{/if}} style="max-width: {{../calculatedMaxTabWidth}}px">
          <a href='sequence/{{id}}' data-sequence-id='{{id}}' title="{{name}}" tabindex="-1">
            <small class="glyphicon glyphicon-remove close-sequence"></small>
            {{name}}
          </a>
        </li>
      {{/each}}
      {{#if hiddenTabs}}
        <li class="dropdown hidden-tabs-dropdown pull-right">
          <a href="#" data-toggle="dropdown">
            <i class="glyphicon glyphicon-chevron-down"></i>
          </a>
          <ul class="dropdown-menu" role="menu" style="max-width: {{maxDropdownWidth}}px">
            {{#each hiddenTabs}}
              <li>
                <a tabindex="-1" href='sequence/{{id}}' data-sequence-id='{{id}}'>
                  {{name}}
                </a>
              </li>
            {{/each}}
          </ul>
        </li>
      {{/if}}
    </ul>
  </div>
</div>