{{#each tabs}}
  <div>
    <a href='#{{../sidebarName}}-{{name}}' class='sidebar-tab-link' title="{{title}}" data-placement="right">
      <div class="pull-right close-tab">&times;</div>
      <i class="icon icon-sequence-{{icon}}"></i>
      <span>{{title}}</span>
    </a>
    <div id='{{../sidebarName}}-{{name}}-tab' class='sidebar-tab{{#if maxHeighted}} max-heighted{{/if}}'>
      <span class="sidebar-popout-title">{{title}}</span>
      <div class="sidebar-tab-outlet"></div>
    </div>
  </div>
{{/each}}