{{#if isOpen}}
  {{#if historySteps}}
    <table class='table table-condensed table-hover table-less-borders'>
      <tbody>
        {{#each historySteps}}
          <tr>
            <td style="width: 30px">
              <button class="btn btn-default btn-xs undo-history-step" 
                      title="Undo this and later operations"
                      data-timestamp="{{timestamp}}">
                <i class="glyphicon glyphicon-fast-backward"></i>
              </button>
            </td>
            <td style="width: 80px;">
              {{#if isInsertion}}
                <span class='text-success'>Inserted</span>
              {{/if}}
              {{#if isDeletion}}
                <span class='text-danger'>Deleted</span>
              {{/if}}
              {{#if isAnnotationInsertion}}
                <span class='text-success'>Annotated</span>
              {{/if}}
              {{#if isAnnotationDelete}}
                <span class='text-danger'>Annotated</span>
              {{/if}}
            </td>

            {{#if position}}
            <td style="width: 60px;">
              <kbd>@{{position}}</kbd>
            </td>
            {{/if}}

            {{#if name}}
            <td style="width: 60px;">
              <kbd>{{name}}</kbd>
            </td>
            {{/if}}

            {{#if annType}}
            <td style="width: 60px;">
              <kbd>{{annType}}</kbd>
            </td>
            {{/if}}  

            {{#if range}}
            {{#each range}}
            <td style="width: 60px;">
            <kbd>From:{{from}} To:{{to}}</kbd>
            </td>
            {{/each}}
            {{/if}} 
            {{#if value}}
            <td>
              <kbd data-placement="bottom" title="{{value}}">
                {{value}}
                </kbd> 
            </td>
            {{/if}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p>This sequence has not been edited</p>
  {{/if}}
{{/if}}