{{#if isOpen}}
  {{#if historySteps}}
    <table class='table table-condensed table-hover table-less-borders'>
      <tbody>
        {{#each historySteps}}
            <tr>
              <td style="width: 30px">
                {{#unless ../readOnly}}
                  {{#unless hidden}}
                  <button class="btn btn-default btn-xs undo-history-step" 
                          title="Undo this and later operations"
                          data-timestamp="{{timestamp}}">
                    <i class="glyphicon glyphicon-fast-backward"></i>
                  </button>
                  {{/unless}}
                {{/unless}}
              </td>
              <td style="width: 80px;">
                {{#if isInsertion}}
                  <span class='text-success'>Inserted</span>
                {{/if}}
                {{#if isDeletion}}
                  <span class='text-danger'>Deleted</span>
                {{/if}}
                {{#if isDeletionDesignEdit}}
                  <span class='text-warning'>Designed Base</span>
                {{/if}}
                {{#if isFeatureInsertion}}
                  <span class='text-success'>New annotation</span>
                {{/if}}
                {{#if isFeatureDeletedDesignEdit}}
                  <span class='text-warning'>Designed Feature</span>
                {{/if}}
                {{#if isFeatureDeletion}}
                  <span class='text-danger'>Deleted annotation</span>
                {{/if}}
                {{#if isFeatureEdition}}
                  <span class="text-warning">Edited annotation</span>
                {{/if}}
              </td>
              {{#ifOr isInsertion isDeletion isDeletionDesignEdit}}
                <td style="width: 60px;">
                  <kbd>{{formatThousands position 1}}</kbd>
                </td>
                <td>
                  <kbd data-placement="bottom" title="{{value}}">
                    {{value}}
                    </kbd> 
                </td>
              {{/ifOr}}
              {{#ifOr isFeature isFeatureDeletedDesignEdit}}
                <td style="width: 60px;">
                  <kbd>{{featureType}}</kbd>
                </td> 
                <td>
                  <kbd>{{name}}</kbd>
                </td>
              {{/ifOr}}
            </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p>This sequence has not been edited</p>
  {{/if}}
{{/if}}