{{!-- <div role="form">
  <dl class="dl-horizontal"> --}}
    {{!-- <dt>Sites</dt>
    <dd>
      Filter enzymes by recognition site length:
      <div class="separator"></div>
      {{#each recognitionSites}}
        <div class="checkbox floating floating-fifth">
          <label>
            <input type="checkbox" name="displaySettings.rows.res.lengths" class="res-settings-sites" value="{{.}}"/>
            {{.}}
          </label>
        </div>
      {{/each}}
      <div class="clearfix"></div>
      <br>
    </dd> --}}
    {{!-- <dt>Sticky ends</dt>
    <dd>
      <div class="checkbox no-margin">
        <label>
          <input type="checkbox" value="true" name="displaySettings.rows.res.hideNonPalindromicStickyEndSites" class="res-settings-hide-non-palindromic-sticky-end-sites"> Only shows cut sites with palindromic sticky ends
        </label>
      </div>
      <br>
    </dd> --}}
    {{#if selected}}
      <div>
        The following restriction enzyme sites will be highlighted in the sequence
        <div class="separator-2"></div>
        <a href="#" class="btn btn-default btn-xs res-settings-selected-clear pull-right">Clear</a>
        <div style="width: 80%;">
          {{#each selected}}
            <code>{{.}}</code>
          {{/each}}
        </div>
        <div class="clearfix"></div>
      </div>
    {{else}}
      Select restriction enzyme sites in the list below to highlight them in the sequence
    {{/if}}
    <div class="separator-2"></div>
    <hr class="no-margin">
    <div class="separator-2"></div>
    <div class="form-group">
      <div class="input-group">
        <input type="text" class="res-settings-filter form-control input-sm" value="{{filter}}" placeholder="Search for enzymes...">
        <div class="input-group-addon"><a href="#" class="text-muted res-settings-filter-clear">&times;</a></div>
      </div>
    </div>
    <div>
    </div>
    <div class="separator"></div>
    <div class="res-settings-list-outlet"></div>
  {{!-- </dl>
</div> --}}