{{#if results}}
  <br>
  <table class="table" style="vertical-align: middle;">
    <thead>
      <tr>
        <th>Caption</th>
        <th>Title</th>
        <th>Length</th>
        <th></th>
      </re>
    </thead>
    <tbody>
      {{#each results}}
        <tr>
          <td><small><code>{{caption}}</code></small></td>
          <td><small>{{title}}</small</td>
          <td><small>{{shortFormNumber length}}bp</small></td>
          <td class="text-right">
            <a href="#" class="open-ncbi-sequence btn btn-default btn-xs" data-ncbi-id="{{caption}}">
              <span class="open-label">
                Open
                <i class="glyphicon glyphicon-open"></i>
              </span>
              <span class="loading-label loader" style="display: none;">
                Loading
                <i class="glyphicon glyphicon-refresh no-margin"></i>
              </span>
              <span class="success-label" style="display: none;">
                <i class="glyphicon glyphicon-ok"></i>
              </span>
            </a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <br><br>
{{else}}
  <br><br>
  <p class="text-danger">No results</p>
{{/if}}