
<div class="chromatograph-map-legend">

  <div>Identity</div>
  <div>Ref Seq</div>
  <div>Fragments</div>

</div>

<div class="chromatograph-map-container">
  <div class="chromatograph-map-cursor">
    <div class="cursor-marker"></div>
    <div class="cursor-start"></div>
  </div>
  <canvas id='chromatograph_map_canvas' class="chromatograph-map-canvas"></canvas>

  <a href="#" class="chromatograph-toggle-dropdown">Toggle</a>

  <div class="chromatograph-map-defect-marks">
    {{#each defectMarks}}
      <a href="#" class="chromatograph-map-defect-mark" data-base="{{base}}" style="left: {{offsetPercent}}%;">
      </a>
    {{/each}}
  </div>

  <div class="chromatograph-map-position-marks" style="width: 100%">
    {{#each positionMarks}}
      <div class="chromatograph-map-position-mark" data-base="{{base}}" style="left: {{offsetPercent}}%;">
        {{label}}
      </div>
    {{/each}}
  </div>

  <div class="chromatograph-map-fragment main-sequence"></div>

  <div class="chromtagraph-map-fragments">
    {{#each fragments}}
      <div class="chromatograph-map-fragment sequence-fragment with-arrow {{arrowDirection}} clickable" data-fragment-id="{{id}}" style="left: {{offsetPercent}}%; width: {{widthPercent}}%;">
      </div>
    {{/each}}
  </div>
</div>
